<section class="gb-section-row-2 row">
 <header class="gb-heading row">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
   <p class="gb-title gb-ellipsis">
    DESCRIPTION
   </p>
  </div>
  <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3">
   <a class="gb-ghost-btn-2 pull-right" ng-click="editDescriptionForm.$show()" ng-hide="editDescriptionForm.$visible">
    <i class="fa fa-pencil"></i>
   </a>
  </div>
 </header>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div ng-hide="editDescriptionForm.$visible" id="gb-skill-item-todo-panel" class="row">
   <strong>{{skillCtrl.skillManager.skill.title}}</strong>
   {{skillCtrl.skillManager.skill.description}}
  </div>
  <form editable-form name="editDescriptionForm" onbeforesave="skillCtrl.editSkillSections.details(skillCtrl.skillManager.skill.id, $data)" ng-show="editDescriptionForm.$visible">
   <div class="form-group row">
    <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
     <div editable-textarea="skillCtrl.skillManager.skill.title" e-name="title" e-required
          e-rows="2" e-placeholder="title"
          e-class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     </div>
    </div>
   </div>
   <div class="form-group row">
    <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
     <div editable-textarea="skillCtrl.skillManager.skill.description" e-name="description"
          e-rows="4" e-placeholder="description"
          e-class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     </div>
    </div>
   </div>
   <div class="row" ng-show="editDescriptionForm.$visible">
    <div class="btn-group pull-right">
     <button type="button" class="btn gb-btn gb-btn-xs"
             ng-disabled="editDescriptionForm.$waiting" ng-click="editDescriptionForm.$cancel()">
      <i class="text-danger fa fa-times"></i>
     </button>
     <button type="submit" class="btn gb-btn gb-btn-xs"
             ng-disabled="editDescriptionForm.$waiting">
      <i class="text-success fa fa-check"></i>
     </button>
    </div>
   </div>
  </form>
 </div>
</section>

<div class="" ng-include="'public/modules/skills/views/components/skill/skill-timeline.html'"></div>
<div class="gb-dummy-height row"></div>