<section class="gb-section-row-2 gb-todos row" ng-controller='SkillTodosCtrl as skillTodosCtrl'>
 <header class="gb-heading row">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
   <p class="gb-title gb-ellipsis">
    TODOS
   </p>
  </div>
  <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3">
   <a ng-if="false" class="gb-ghost-btn-2 pull-right" ng-click="editDescriptionForm.$show()" ng-hide="editDescriptionForm.$visible">
    <i class="fa fa-pencil"></i>
   </a>
  </div>
 </header>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class='row'>
   <div ng-show="!skillTodosCtrl.todoFormDisplay" class="gb-form-placeholder">
    <img src="public/img/profile_pic/{{skillCtrl.skill.creator.avatar_url}}" class="gb-img" alt="">
    <input class="" ng-click="skillTodosCtrl.showTodoForm()" placeholder="What needs to be done?" readonly>
   </div>
   <form class="gb-form-1" ng-show="skillTodosCtrl.todoFormDisplay" name="form" novalidate>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                placeholder="Skill Todo Description" ng-model="skillTodosCtrl.newSkillTodoData.title"
                name="title" required="" rows="2">
      </textarea>
      <div ng-show="form.$submitted || form.title.$touched">
       <div ng-show="form.title.$error.required">description required.</div>
      </div>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                placeholder="Skill Todo Description (optional)" ng-model="skillTodosCtrl.newSkillTodoData.description"
                name="description" required="" rows="4">
      </textarea>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Privacy:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="radio gb-radio-row">
       <label class="">
        <input type="radio" ng-model="skillTodosCtrl.newSkillTodoData.privacy" value="0" />
        <strong>public</strong> All people can see this todo
       </label>
      </div>
      <div class="radio gb-radio-row">
       <label>
        <input type="radio" ng-model="skillTodosCtrl.newSkillTodoData.privacy" value="1" />
        <strong>private</strong> only you can see this todo
       </label>
      </div>
      <div class="radio gb-radio-row">
       <label>
        <input type="radio" ng-model="skillTodosCtrl.newSkillTodoData.privacy" value="2" />
        <strong>custom</strong> choose who to see this todo
       </label>
      </div>
     </div>
    </div>
    <div class="form-group row" ng-class="{'gb-disabled-2': skillTodosCtrl.newSkillTodoData.privacy != 2}">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Choose Members:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Select members"/>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">
      <a class="btn btn-link" ng-click="skillTodosCtrl.showAdvanced()">
       Show Advanced
      </a>
     </label>
    </div>
    <div class="gb-form-footer row">
     <div class="btn-group pull-right col-lg-5 col-md-5 col-sm-66 col-xs-12">
      <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="skillTodosCtrl.cancelSkillTodo(form)">
       Cancel
      </a>
      <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="skillTodosCtrl.createSkillTodo(skillTodosCtrl.newSkillTodoData)">
       Add Todo
      </a>
     </div>
    </div>
   </form>
  </div>
  <div class="gb-todo-body row" ng-show="skillTodosCtrl.skillTodosManager.skillTodos.length" ng-cloak>
   <ul id="todo-list">
    <li ng-repeat="skillTodo in skillTodosCtrl.skillTodosManager.skillTodos| filter:statusFilter track by $index" ng-class="{completed: skillTodo.completed, editing: skillTodo == skillTodosCtrl.editedTodo}">
     <div class="gb-todo-row row">
      <input class="toggle col-lg-1" type="checkbox" ng-model="skillTodo.completed">
      <div class='gb-todo-content col-lg-10'>
       <a class="gb-content-text btn-link text-left" editable-text="skillTodo.todo.title"
          e-class="col-lg-10"
          e-form="titleForm" onbeforesave="skillTodosCtrl.editSkillTodoSections.title(skillTodo.id, $data)" e-required
          ng-click="skillTodosCtrl.openSkillTodo(skillTodo)">
        {{skillTodo.todo.title}}
       </a>
       <a class="gb-edit-btn btn-link" ng-click="titleForm.$show()" ng-hide="titleForm.$visible">
        <i class="fa fa-pencil"></i>
       </a>
      </div>
      <div ng-hide="titleForm.$visible" class="gb-todo-action btn-group pull-right">
       <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-chevron-down"></i>
       </a>
       <ul class="dropdown-menu dropdown-menu-right">
        <li><a ng-click="skillTodosCtrl.openSkillTodo(skillTodo)">Open</a></li>
       </ul>
      </div>
     </div>
    </li>
   </ul>
  </div>
  <script type="text/ng-template" id="skill-todo-modal.html">
   <div class="" ng-include="'public/modules/skills/views/modals/skill-todo.html'"></div>
  </script>
 </div>
</section>