<section class="gb-section-row-2 row gb-comments" ng-controller="SkillCommentsCtrl as skillCommentsCtrl">
 <header class="gb-heading row">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
   <p class="gb-title gb-ellipsis">
    COMMENTS
   </p>
  </div>
  <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3">
   <a ng-if="false" class="gb-ghost-btn-2 pull-right" ng-click="editDescriptionForm.$show()" ng-hide="editDescriptionForm.$visible">
    <i class="fa fa-pencil"></i>
   </a>
  </div>
 </header>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class='row'>
   <div ng-show="!skillCommentsCtrl.commentFormDisplay" class="gb-form-placeholder">
    <img src="public/img/profile_pic/{{skillCtrl.skill.creator.avatar_url}}" class="gb-img" alt="">
    <input class="" ng-click="skillCommentsCtrl.showCommentForm()" placeholder="What needs to be done?" readonly>
   </div>
   <form class="gb-form-1" ng-show="skillCommentsCtrl.commentFormDisplay" name="form" novalidate>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Comment:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                placeholder="Skill Comment" ng-model="skillCommentsCtrl.newSkillCommentData.title"
                name="title" required="" rows="2">
      </textarea>
      <div ng-show="form.$submitted || form.title.$touched">
       <div ng-show="form.title.$error.required">comment required.</div>
      </div>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                placeholder="Skill Comment Description (optional)" ng-model="skillCommentsCtrl.newSkillCommentData.description"
                name="description" required="" rows="4">
      </textarea>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Privacy:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div class="radio gb-radio-row">
       <label class="">
        <input type="radio" ng-model="skillCommentsCtrl.newSkillCommentData.privacy" value="0" />
        <strong>public</strong> All people can see this comment
       </label>
      </div>
      <div class="radio gb-radio-row">
       <label>
        <input type="radio" ng-model="skillCommentsCtrl.newSkillCommentData.privacy" value="1" />
        <strong>private</strong> only you can see this comment
       </label>
      </div>
      <div class="radio gb-radio-row">
       <label>
        <input type="radio" ng-model="skillCommentsCtrl.newSkillCommentData.privacy" value="2" />
        <strong>custom</strong> choose who to see this comment
       </label>
      </div>
     </div>
    </div>
    <div class="form-group row" ng-class="{'gb-disabled-2': skillCommentsCtrl.newSkillCommentData.privacy != 2}">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Choose Members:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Select members"/>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">
      <a class="btn btn-link" ng-click="skillCommentsCtrl.showAdvanced()">
       Show Advanced
      </a>
     </label>
    </div>
    <div class="gb-form-footer row">
     <div class="btn-group pull-right col-lg-5 col-md-5 col-sm-66 col-xs-12">
      <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="skillCommentsCtrl.cancelSkillComment(form)">
       Cancel
      </a>
      <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="skillCommentsCtrl.createSkillComment(skillCommentsCtrl.newSkillCommentData)">
       Add Comment
      </a>
     </div>
    </div>
   </form>
  </div>
  <div class="gb-comment-body row" ng-show="skillCommentsCtrl.skillCommentsManager.skillComments.length" ng-cloak>
   <ul id="comment-list">
    <li ng-repeat="skillComment in skillCommentsCtrl.skillCommentsManager.skillComments| filter:statusFilter track by $index" ng-class="{completed: skillComment.completed, editing: skillComment == skillCommentsCtrl.editedComment}">
     <div class="gb-comment-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="gb-comment-heading">
       <p class="gb-title">COMMENT</p>
       <div class="gb-dropdown-action">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
         <li>
          <a ng-click="skillCommentsCtrl.openSkillComment(skillComment)">
           Open
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="gb-description">
       <a ng-click="skillCommentsCtrl.openSkillComment(skillComment)" class="">
        {{skillComment.comment.title}}
       </a>
       {{skillComment.comment.description}}
      </div>
      <div class="gb-footer">
       <img src="public/img/profile_pic/{{skillComment.comment.creator.avatar_url}}" class='gb-profile-pic' alt="">
       <div class="gb-footer-content">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
         <h5 class="gb-ellipsis"><a>{{skillComment.comment.creator.firstname + ' ' + skillComment.comment.creator.lastname}}</a></h5>
         <p>{{skillComment.comment.created_at| date:'MM/dd/yyyy'}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">
         <div class="pull-right btn-group">
          <a ng-click="skillCommentsCtrl.openSkillComment(skillComment)" class="btn gb-btn-xs gb-ghost-btn-2">
           Open
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </li>
   </ul>
  </div>
  <script type="text/ng-template" id="skill-comment-modal.html">
   <div class="gb-comment-page" ng-include="'public/modules/skills/views/modals/skill-comment.html'"></div>
  </script>
 </div>
</section>