//
// Sections
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.gb-section-row-1 {
 border-bottom: #BBB solid 1px;
 padding-bottom: 20px;
 margin-bottom: 20px;
 .gb-heading {
  padding: 0;
  margin-bottom: 5px;
 }
 .gb-heading .gb-title {
  padding: 10px 0 0 0;
  font-size: 1.0em;
  color: #777;
 }

 .gb-heading .gb-heading-img {
  width: 30px;
  height: 30px;
 }

 .gb-heading .gb-action {
  padding: 10px 0 0 0;
 }

 .gb-section-row-1 .gb-body {
  padding-top: 10px;
 }
}

.gb-section-row-2 {
 border-bottom: #CCC solid 1px;
 padding-bottom: 20px;
 .gb-heading {
  padding: 30px 5px 30px 5px;
 }
 .gb-heading .gb-title {
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  color: rgba($primary-color, 0.6);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
 }

 .gb-heading .gb-heading-img {
  width: 30px;
  height: 30px;
 }

 .gb-heading .gb-action {
  padding: 10px 0 0 0;
 }

 .gb-section-row-1 .gb-body {
  padding-top: 10px;
 }
}

