


.gb-nav-1 {
 padding: 0;
 margin: 0;
 list-style: none;
 li {
  height: 40px;
  line-height: 15px;
  background-color: transparent;
  border-bottom: transparent solid 3px;
  a{
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.7) solid 3px;
  }
  &.active {
   border-bottom: $primary-color solid 3px;
  }
 }
}

.gb-nav-2 {
 padding: 0;
 list-style: none;
 li {
  margin-right: 20px;
  float: left;
  height: 40px;
  line-height: 35px; 
  background-color: transparent;
  border-bottom: transparent solid 4px;
  a{
   padding: 0 5px;
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
   color: rgba($primary-color, 0.7);
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.5) solid 4px;
   a {
    color: rgba($primary-color, 0.9);
   }
  }
  &.active {
   border-bottom: rgba($primary-color, 0.7) solid 4px;
   a {
    color: rgba($primary-color, 1);
   }
  }
 }
}

