.gb-weblinks {
 .gb-form-placeholder {
  background-color: #FFF;
  position: relative;
  margin-bottom: 15px;
  .gb-img {
   @include position(absolute, 5px null 5px 5px);
   width: 53px;
   height: auto;
  }
  input {
   margin: 0;
   width: 100%;
   font-size: 24px;
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.4em;
   border: 0;
   outline: none;
   color: inherit;
   padding: 6px;
   border: 1px solid #CCC;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   font-smoothing: antialiased;
   padding: 16px 16px 16px 65px;
   @include placeholder {
    color: #BBB;
   }
  }
 }

 .gb-heading {
  padding: 30px 5px 30px 5px;
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  color: rgba($primary-color, 0.4);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
 }


 #toggle-all {
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none; /* Mobile Safari */
 }

 #toggle-all:before {
  content: ' ';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
 }

 #toggle-all:checked:before {
  color: #737373;
 }

 #weblink-list {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .gb-weblink-row {
  position: relative;
  margin-bottom: 20px;
  background-color: #FFF;
  overflow: hidden;
  min-height: 80px;

  &:hover {
   background-color: #F7F7F7;
   -webkit-box-shadow: #AAA -1px 1px 2px;
   -moz-box-shadow: #AAA -1px 1px 2px;
   box-shadow: #AAA -1px 1px 2px;
  }
  .gb-dropdown-action {
   padding: 4px 8px 0 0;
   @include position(absolute, 0 0 null null);
  }
  .gb-image {
   height: 100%;
   overflow: hidden;
   img {
    @include position(absolute, 0 0 0 0);
   }
  }
  .gb-weblink-heading {
   padding: 8px 5px 0 10px;
   height: 22px;
   .gb-title {
    color: #888;
    font-weight: 500;
    font-size:10px;
    text-transform: uppercase;
   }
  }
  .gb-description {
   padding: 15px 10px;
   overflow: hidden;
  }
  .gb-footer {
   position: relative;
   height: 50px;
   padding: 5px;
   border-top: #AAA solid 1px;
   .gb-profile-pic {
    margin-left: 5px;
    height: 35px;
    width: 35px;
   }
   .gb-footer-content {
    padding: 10px 0 0 0;
    @include position(absolute, 0 0 0 50px);
   }
  }
 }

 #weblink-list  {
  li .toggle {
   margin: 5px 0 0 0;
   text-align: center;
   /* auto, since non-WebKit browsers doesn't support input styling */
   height: auto;
   border: none; /* Mobile Safari */
   -webkit-appearance: none;
   appearance: none;
  }

  li .toggle:after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#BBBBBB" stroke-width="3"/></svg>');
  }

  li .toggle:checked:after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#999999" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
  }

  li .gb-weblink-content {
   padding: 10px 0 10px 10px;
   background-color: #FFFFFF;
   font-size: 14px;
   transition: color 0.4s;
   border-left: rgba($primary-color, 0.5) solid 1px;

   .gb-content-text {
    float: left;
   }
   .gb-edit-btn {
    float: left;
    margin-left: 5px;
    padding: 0;
    color: #AAA;
   }
   .gb-edit-btn:hover {
    color: #555;
   }
  }

  li.completed .gb-weblink-content {
   color: #d9d9d9;
   text-decoration: line-through;
  }
  li .gb-weblink-action {
   padding: 8px 2px 0 0;
  }

 }

 #weblink-list li:last-child {
  border-bottom: none;
 }

 #weblink-list li.editing {
  border-bottom: none;
  padding: 0;
 }

 #weblink-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
 }

 #weblink-list li.editing .view {
  display: none;
 }



 #weblink-list li .destroy {
  display: none;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
 }

 #weblink-list li .destroy:hover {
  color: #af5b5e;
 }

 #weblink-list li .destroy:after {
  content: '×';
 }

 #weblink-list li:hover .destroy {
  display: block;
 }

 #weblink-list li .edit {
  display: none;
 }

 #weblink-list li.editing:last-child {
  margin-bottom: -1px;
 }

 .gb-weblinks .gb-footer {
  color: #777;
  padding: 10px 15px;
  height: 40px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
 }

 #weblink-count {
  float: left;
  text-align: left;
 }

 #weblink-count strong {
  font-weight: 300;
 }

 #filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
 }

 #filters li {
  display: inline;
 }

 #filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
 }

 #filters li a.selected,
 #filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
 }

 #filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
 }

 #clear-completed,
 html #clear-completed:active {
  float: right;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
 }

 #clear-completed:hover {
  text-decoration: underline;
 }

 #info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
 }

 #info p {
  line-height: 1;
 }

 #info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
 }

 #info a:hover {
  text-decoration: underline;
 }

 /*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
 */
 @media screen and (-webkit-min-device-pixel-ratio:0) {
  #toggle-all,
  #weblink-list li .toggle {
   background: none;
  }

  #weblink-list li .toggle {
   height: 40px;
  }

  #toggle-all {
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
   -webkit-appearance: none;
   appearance: none;
  }
 }

 @media (max-width: 430px) {
  #footer {
   height: 50px;
  }

  #filters {
   bottom: 10px;
  }
 }
}

