//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.gb-btn {
 background: #ECECEC;
 display: block;
 font-family: arial;
 color:#555;
 text-decoration: none;
 text-shadow:0px 1px 0px #fff;
 border:1px solid #a7a7a7;
 margin:0px auto;
 box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
 -webkit-transition:box-shadow 0.5s;

 &:hover{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
 }
}

.gb-ghost-btn-1 {
 display: inline-block;
 padding: 1px 15px;
 color: #DDD;
 border: 2px solid #DDD;
 border-radius: 20px;
 text-align: center;
 outline: none;
 text-decoration: none;
 transition: border-color 0.3s ease-out, color 0.3s ease-out;

 &:hover,
  &:active {
  transition: border-color 0.4s ease-in,
   color 0.4s ease-in;
 }
}

.gb-ghost-btn-2 {
 display: inline-block;
 padding: 1px 15px;
 color: #888;
 border: 2px solid #BBB;
 border-radius: 20px;
 text-align: center;
 outline: none;
 text-decoration: none;
 transition: border-color 0.3s ease-out, color 0.3s ease-out;

 &:hover,
  &:active {
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
  border-color: #555;
 }
}

.gb-btn-lg {
 border-radius: 15px;
 padding: 12px 20px;
 font-weight: bold;
}
.gb-btn-md {
 border-radius: 15px;
 padding: 8px 15px;
 font-weight: bold;
}
.gb-btn-sm {
 border-radius: 15px;
 padding: 5px 10px;
}
.gb-btn-xs {
 font-size: 11px;
 border-radius: 10px;
 padding: 3px 8px;
}
