<div class="modal-header gb-modal-header row">
 <div class="gb-modal-title col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   {{skillTodoCtrl.skillTodoManager.skillTodo.todo.title}}
  </p>
 </div>
 <a class="pull-right gb-ghost-btn-2" ng-click="skillTodoCtrl.close()">
  x
 </a>
</div>
<div class="modal-body">
 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     DESCRIPTION
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.editDecriptionMode">
    <a class="gb-ghost-btn-2 pull-right" ng-click="editableForm.$show()" ng-hide="editableForm.$visible">
     <i class="fa fa-pencil"></i>
    </a>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-hide="editableForm.$visible" id="gb-skill-item-todo-panel" class="row">
    <strong>{{skillTodoCtrl.skillTodoManager.skillTodo.todo.title}}</strong>
    {{skillTodoCtrl.skillTodoManager.skillTodo.todo.description}}
   </div>
   <form editable-form name="editableForm" onbeforesave="skillTodoCtrl.editSkillTodoSections.details($data)" ng-show="editableForm.$visible">
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div editable-textarea="skillTodoCtrl.skillTodoManager.skillTodo.todo.title" e-name="title" e-required
           e-rows="2" e-placeholder="title"
           e-class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </div>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <div editable-textarea="skillTodoCtrl.skillTodoManager.skillTodo.todo.description" e-name="description"
           e-rows="2" e-placeholder="description"
           e-class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </div>
     </div>
    </div>
    <div class="row"
         ng-show="editableForm.$visible">
     <div class="btn-group pull-right">
      <button type="button" class="btn gb-btn gb-btn-xs"
              ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
       <i class="text-danger fa fa-times"></i>
      </button>
      <button type="submit" class="btn gb-btn gb-btn-xs"
              ng-disabled="editableForm.$waiting">
       <i class="text-success fa fa-check"></i>
      </button>
     </div>
    </div>
   </form>
   <div ng-show="skillTodoCtrl.editDecriptionMode" class="row">
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="2" ng-model="skillTodoCtrl.sectionedData.skillTodoDetails.title"
                placeholder="title"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="3" ng-model="skillTodoCtrl.sectionedData.skillTodoDetails.description"
                placeholder="description"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     CHECKLIST
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.checklistFormVisible">
    <a class="gb-ghost-btn-2 pull-right" ng-click="skillTodoCtrl.checklistFormVisible = true">
     <i class="fa fa-plus"></i>
    </a>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-checklist">
    <form class="" ng-show="skillTodoCtrl.checklistFormVisible" name="form" novalidate>
     <div class="form-group row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Checklist" ng-model="skillTodoCtrl.newSkillTodoChecklistData.title"
                 name="title" required="" rows="2">
       </textarea>
      </div>
     </div>
     <div class="row"
          ng-show="skillTodoCtrl.checklistFormVisible">
      <div class="btn-group pull-right">
       <a class="btn gb-btn gb-btn-xs"
          ng-click="skillTodoCtrl.cancelChecklistForm()">
        <i class="text-danger fa fa-times"></i>
       </a>
       <a class="btn gb-btn gb-btn-xs"
          ng-click="skillTodoCtrl.createSkillTodoChecklistItem(skillTodoCtrl.newSkillTodoChecklistData)">
        <i class="text-success fa fa-check"></i>
       </a>
      </div>
     </div>
    </form>
    <div class="gb-todo-body row" ng-show="skillTodoCtrl.skillTodoChecklistManager.skillTodoChecklist.length" ng-cloak>
     <ul class="gb-checklist-nav">
      <li ng-repeat="todoChecklistItem in skillTodoCtrl.skillTodoChecklistManager.skillTodoChecklist| filter:statusFilter track by $index" ng-class="{completed: todoChecklist.completed, editing: todoChecklist == skillTodoCtrl.editedTodo}">
       <div class="gb-checklist-row row">
        <input class="toggle col-lg-1" type="checkbox" ng-model="todoChecklistItem.completed">
        <div class='gb-checklist-item-content col-lg-9'>
         <p class="text-left" editable-text="todoChecklistItem.checklist.title"
            e-class="col-lg-10 col-md-10 col-sm-10 col-xs-9"
            e-form="todoChecklistForm" onbeforesave="skillTodoCtrl.editSkillTodoChecklistItemSections.title(todoChecklistItem.checklist.id, $data)" e-required>
          {{todoChecklistItem.checklist.title}}
          <a class="gb-edit-btn btn-link" ng-click="todoChecklistForm.$show()" ng-hide="todoChecklistForm.$visible">
           <i class="fa fa-pencil"></i>
          </a>
         </p>
        </div>
        <div class="gb-checklist-item-action btn-group col-lg-2">
         <a class="btn btn-xs pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down"></i>
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li><a ng-click="skillTodoCtrl.createTodoChecklist(todoChecklistItem)">Edit</a></li>
          <li><a ng-click="skillTodoCtrl.removeTodo(todoChecklistItem)">Delete</a></li>
         </ul>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </section>
</div>
<div class="modal-footer">
 <div class="btn-group pull-right col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <a class="btn gb-btn gb-btn-sm col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="skillTodoCtrl.close()">
   Close
  </a>
 </div>
</div>
