<div id="gb-middle-nav" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="gb-top-nav-1 gb-nav col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-2 col-lg-10 col-md-10 col-sm-9 col-xs-10">
 <div class="gb-title pull-left">
  SKILL APP
 </div>
 <div class="gb-action pull-left col-lg-2 col-md-2 col-sm-3 col-xs-3">
  <div ng-if="false" class="btn-group">
   <a ng-click="skillsCtrl.openAddSkillModal()" class="btn btn-xs btn-link">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <a class="btn btn-xs btn-link gb-form-modal-trigger"
      data-gb-modal-target="#gb-skill-play-modal">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-play fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <a class="btn btn-xs btn-link">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
    </span>
   </a>
  </div>
 </div>
 <form id="search" class="col-lg-4 col-md-6 col-sm-5 hidden-xs">
   <i class="gb-search-icon fa fa-search"></i>
   <input type="text" class="" placeholder="Search Skills">
  </form>
  <div class="gb-action pull-right">
    <a class="btn btn-xs btn-link hidden-lg hidden-md hidden-sm vidible-xs">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-search fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <div class="hidden-sm hidden-xs btn-group">
    <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-question fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-left">
     <li><a href="#">About</a></li>
    </ul>
   </div>
   <div class="btn-group">
    <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-left">
     <li><a href="#">{{$root.user.firstname + " " + $root.user.lastname}}</a></li>
     <li role="separator" class="divider"></li>
     <li><a ng-click="appsCtrl.logout()">
       <i class="fa fa-power-off"></i> Log Out</a>
     </li>
    </ul>
   </div>
  </div>
</div>

 <div class="gb-container gb-app-detail"> 
  <div class="row">
   <div class="gb-background-white col-lg-8 col-md-9 col-sm-9 col-xs-12">
    <div class="gb-cover">
     <div ng-include="'public/modules/skills/views/components/skill/skill-cover.html'"></div>
    </div>
    <div class="gb-profile-row">
     <img src="public/img/profile_pic/{{skillCtrl.skillManager.skill.creator.avatar_url}}" class="gb-profile-pic" alt="">
     <div class="gb-row-content">
      <a class="gb-ellipsis">
       {{skillCtrl.skillManager.skill.creator.firstname + " " + skillCtrl.skillManager.skill.creator.lastname}}
      </a>
     </div>
    </div>
    <div class="gb-heading-row">
     <h2 class="gb-heading gb-ellipsis">
      <strong>{{skillCtrl.skillManager.skill.title}}</strong> {{skillCtrl.skillManager.skill.description}}
     </h2>
    </div>
    <ul class="gb-menu-row nav gb-nav-1">
     <li ui-sref-active="active" class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
      <a href ui-sref="apps.skill.overview" class="gb-ellipsis">
       <i class='fa fa-home'></i>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a ui-sref="apps.skill.tools" class="gb-ellipsis">
       Tools
      </a>
     </li>
     <li  ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a ui-sref="apps.skill.community" class="gb-ellipsis">
       Community
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a ui-sref="skill.overview" class="gb-ellipsis">
       Apps
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a ui-sref="skill.stats" class="gb-link gb-app-tab gb-ellipsis">
       Stats
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a ui-sref="skill.manage" class="gb-link gb-app-tab gb-ellipsis">
       Manage
      </a>
     </li>
    </ul>
    <div ui-view="content" class="row gb-padding-medium"></div>
    <div class="gb-dummy-height row"></div>
   </div>
  </div>
 </div>
</div>